importFrom(abind, abind)

importFrom(MASS, ginv)

importFrom(mvtnorm, rmvnorm)

importFrom(rags2ridges, covML, evaluateS, evaluateSfit, ridgePathS, symm, ridgeP, adjacentMat, default.target, ridgePchordal, support4ridgeP)

importFrom(graphics, contour, "legend", lines, par, plot, points, text)

importFrom(grDevices, dev.off, pdf, postscript, setEPS)

importFrom(igraph, betweenness, closeness, clusters, degree, delete.edges, E, ecount, evcent, graph.adjacency, layout.circle, maximum.cardinality.search, plot.igraph, igraph.to.graphNEL)

importFrom(fdrtool, fdrtool)

importFrom(marray, maPalette)

importFrom(Matrix, bandSparse, bdiag)

importFrom(methods, as)

importFrom(stats, constrOptim, cov2cor, nlm,  nlminb, optim, runif)

importFrom(expm, "%^%")

exportPattern("^[[:alpha:]]+")

useDynLib(ragt2ridges, .registration=TRUE)

